body{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
    width: 450px;
    border-radius: 12px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px grey;
    text-align: center;
}
.post-content{
    padding: 20px;
}
.post-excerpt{
    margin: auto auto 35px;
}
.post-img{
    width: 450px;
    border-bottom: solid 5px #333;
}
.read-more{
    display: inline-block;
    margin: 3px;
    background-color: grey;
    padding: 1rem;
    border-radius: 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
}
.read-more:hover{
    background-color: #334;
}